html, body {
  margin: 0;
  overflow: hidden;
  background: #bdfcc9;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #bdfcc9;
}
#start-screen {
  opacity: 1;
  transition: opacity 1s ease;
}
#start-screen.hidden {
  opacity: 0;
  pointer-events: none;
}
